<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>An event</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${event.name}">Event</h1>

    <p th:text="${event.description}">Lorem ipsum</p>
    <td th:text="${event.venue.name}">Event venue</td>
    <td th:text="${{event.date}}">Event date</td>
    <td th:text="${{event.time}}">Event time</td>
    <form th:action="@{/events/{num}(num=${id})}" th:method="delete">
        <a class="btn btn-primary" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>
    </form>
</div>
</body>
</html>
