<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<head>
<title>New Event</title>
</head>

<body>
	<div layout:fragment="content">
		
		<form action="#" th:action="@{/events/update/{num}(num=${event.id})}" th:object="${event}" 
			method="post">
			<h1>Update Event</h1>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('name')}? has-error">
				<label for="name">Name:</label><input
					class="form-control" type="text" name="name" id="name"
					th:field="*{name}" th:value="${event.name}" autofocus="autofocus"
					required />
				<p class="text-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}">errors</p>
			</div>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('description')}? has-error">
				<label for="name">Description:</label><input
					class="form-control" type="text-area" name="description" id="description"
					th:field="*{description}" th:value="${event.description}" autofocus="autofocus"
					required />
				<p class="text-danger" th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}">errors</p>
			</div>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('date')}? has-error">
				<label for="date">Date:</label><a class="text-danger"> *</a> <input
					class="form-control" type="date" name="date" id="date"
					th:field="*{date}" th:value="${event.date}" autofocus="autofocus"
					required />
				<p class="text-danger" th:if="${#fields.hasErrors('date')}"
					th:errors="*{date}">errors</p>
			</div>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('time')}? has-error">
				<label for="time">Time:</label> <input class="form-control"
					type="time" name="time" id="time" th:field="*{time}"
					th:value="${event.description}" autofocus="autofocus" />
				<p class="text-danger" th:if="${#fields.hasErrors('time')}"
					th:errors="*{time}">errors</p>
			</div>
			<div class="form-group">
				<label for="venue">Venue:</label><select
					th:field="*{venue}" class="form-control">
					<option th:each="venue : ${venues}" th:value="${venue.id}"
						th:text="${venue.name} + ')'"></option>
				</select>
			</div>
			<button class="btn btn-success" type="submit">
				<i class="fas fa-edit" aria-hidden="true"></i> Update Event
			</button>
			<br><br>
	</form>
	</div>
</body>

</html>
