<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  	<title>All events</title>
	<style>
	    body { margin: 0; padding: 0; }
	    #map { width: 100%; height: 400px; margin-bottom: 3vh; margin-top: 3vh;}
	    .input-group button {border-radius: 0px}
	    .input-group button:last-child {border-radius: 0 4px 4px 0;}
	    .input-group button i {padding-right: 4px}
  	</style>
  
</head>
<body>
  <div layout:fragment="content">
    <h1>Venues</h1>
	<form class="input-group" action="/events/search/" method="get">
		<!--<div class="form-outline">-->
        	<input class="form-control" type="text" name="query" placeholder="Search for an event..."/> 
        	<button class="btn btn-primary" type="submit"><i class="fas fa-search" aria-hidden="true"></i>Search</button>
        	<button id="clear" class="btn btn-secondary" type="reset"><i class="fas fa-ban" aria-hidden="true"></i>Clear</button>
	</form>
    <table style="margin-top: 3vh" class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-home"></i> Venue</th>
          <th><i class="fas fa-map-marker-alt"></i> Road name</th>
          <th><i class="fas fa-globe"></i> Postcode</th>
          <th><i class="fas fa-users"></i> Capacity</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="v : ${venues}">
          <td>
            <a th:href="@{/venues/{num}(num=${v.id})}" th:text="${v.name}">My Event</a>
          </td>
          <td th:text="${v.road}">Venue road name</td>
          <td th:text="${v.postcode}">Venue postcode</td>
          <td th:text="${v.capacity}">Venue capacity</td>
        </tr>
      </tbody>
    </table>
	<a sec:authorize="isAuthenticated()" class="btn btn-primary" role="button" href="/venues/new"><i class="fas fa-plus" aria-hidden="true"></i> Add a new venue</a>
  </div>

</body>
</html>
