<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>All venues</h1>
	<form class="form" action="/venues/search/" method="get">
        <input class="form" type="text" name="query" placeholder="Search venues..."/>
        <button type="submit" >Search</button>
	</form>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-home"></i> Venue</th>
          <th><i class="fas fa-map-marker-alt"></i> Road name</th>
          <th><i class="fas fa-globe"></i> Postcode</th>
          <th><i class="fas fa-users"></i> Capacity</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="v : ${venues}">
          <td>
            <a th:href="@{/venues/{num}(num=${v.id})}" th:text="${v.name}">My Event</a>
          </td>
          <td th:text="${v.road}">Venue road name</td>
          <td th:text="${v.postcode}">Venue postcode</td>
          <td th:text="${v.capacity}">Venue capacity</td>
        </tr>
      </tbody>
    </table>
	<a sec:authorize="isAuthenticated()" class="btn btn-primary" role="button" href="/venues/new"><i class="fas fa-plus" aria-hidden="true"></i> Add a new venue</a>
  </div>

</body>
</html>
